.displayCounter {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: white;
    font-size: 3em;
    margin-top: 20px;
}

.buttonContainer {
    margin-top: 20px;
}

.buttons {
    width: 100px;
    height: 30px;
    border-radius: 5%;
    margin: 10px;
    border: 1px solid magenta;
    background-color: magenta;
    color: white;
}

.grey {
    background-color: grey;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}